[distutils] # this tells distutils what package indexes you can push to
index-servers =
  pypi
  testpypi

[pypi]
username: __token__
password: __token__

[testpypi]
username: __token__
password: __token__
